html {
  --y-wave-shadow-color: #2296ff;
  --y-primary-color: #1890ff;
  --y-wave-animation-width: 6px;
}
.y-icon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
html {
  --y-wave-shadow-color: #2296ff;
  --y-primary-color: #1890ff;
  --y-wave-animation-width: 6px;
}
.y-space {
  display: inline-flex;
}
.y-space.y-space-align-start {
  align-items: flex-start;
}
.y-space.y-space-align-center {
  align-items: center;
}
.y-space.y-space-align-end {
  align-items: flex-end;
}
.y-space.y-space-align-baseline {
  align-items: baseline;
}
.y-space.y-space-vertical {
  flex-direction: column;
}
.y-space.y-space-wrap:not(.y-space.y-space-vertical) {
  flex-wrap: wrap;
}
html {
  --y-wave-shadow-color: #2296ff;
  --y-primary-color: #1890ff;
  --y-wave-animation-width: 6px;
}
.y-btn {
  line-height: 1.499;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  outline: none;
}
.y-btn:hover,
.y-btn:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}
.y-btn:not([disabled]):hover {
  text-decoration: none;
}
.y-btn:not([disabled])[y-click-animating-without-extra-node="true"]:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  border-radius: inherit;
  box-shadow: 0 0 0 0 var(--y-primary-color);
  box-shadow: 0 0 0 0 var(--y-wave-shadow-color);
  opacity: 0.2;
  -webkit-animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  animation: fadeEffect 2s cubic-bezier(0.08, 0.82, 0.17, 1), waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  content: "";
  pointer-events: none;
}
.y-btn[disabled],
.y-btn[disabled]:hover,
.y-btn[disabled]:focus {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}
.y-btn-primary {
  color: #fff;
  background-color: var(--y-primary-color);
  border-color: var(--y-primary-color);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}
.y-btn-primary:hover,
.y-btn-primary:focus {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.y-btn-danger {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  --y-wave-shadow-color: #ff4d4f;
}
.y-btn-danger:hover,
.y-btn-danger:focus {
  color: #fff;
  background-color: #ff7875;
  border-color: #ff7875;
}
.y-btn-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}
.y-btn-dashed:hover,
.y-btn-dashed:focus {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff;
}
.y-btn-link {
  color: var(--y-primary-color);
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: #40a9ff;
}
.y-btn-link:hover,
.y-btn-link:focus {
  color: #40a9ff;
  background-color: transparent;
  border-color: transparent;
}
.y-btn-lg {
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px;
}
.y-btn-sm {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 4px;
}
@keyframes waveEffect {
  100% {
    box-shadow: 0 0 0 var(--y-wave-animation-width) var(--y-wave-shadow-color);
  }
}
@keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}
