.pic-plus {
  display: flex;
  align-items: center;
}
.pic-plus span {
  font-size: 30px;
  color: #aaa;
  margin: 0 20px;
}
.vp-doc._guide_quickstart .line-numbers-mode {
  padding-left: 0 !important;
}
.vp-doc._guide_quickstart .line-numbers-mode .line-numbers-wrapper {
  display: none;
}
.vp-doc._guide_quickstart .line-numbers-mode .vp-code-light .line span {
  color: #fff !important;
}
