.pic-plus {
  display: flex;
  align-items: center;
}
.pic-plus span {
  font-size: 30px;
  color: #aaa;
  margin: 0 20px;
}

.common-btn-box {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}
.common-btn-box .y-icon {
  font-size: 32px;
  margin: 12px 0 8px;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}
